.resume{
  background-image: url("./image/bg.jpg");
  background-repeat: no-repeat;
  color: black;
}
/* *****Portfolio page***** */
.portfolio{
  background-image: url("./image/photo-1619972898592-5de4b1c68025.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 769px;

}
/* *****Navbar***** */
.nav-bar{
    background-color: grey;
} 
.navbar-nav .nav-item .nav_link:hover{
  color: rgba(0,255,255,0.7);
}
.collapse {
  display: flex;
  justify-content: flex-end;
}
/* *****Main page ***** */
.page-main{
  margin: 75px auto;
  width: 36%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
  transform: translateY(-5px);
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.page-main:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.page-con a{
  color: white;
  margin-right: 10px;
}
.page-but{
  margin: 30px;
}
.img{
  border-radius: 15px 50px;
  background-color: skyblue;
  margin-top: 65px;
  height: 250px;
}
/* *****Academic page***** */
.aca_con{
  /* background: url("./image/acadamic.jpeg");
  background-size: cover;
  background-repeat: no-repeat; */
  height: 712px;
  padding-top: 75px;
  background-color: gray;
}
/* *****Academic profile***** */
.title{
  text-align: center;
  padding-top: 60px;
}
 
.main-con{
  margin-left: 90px;
}
.content{
  margin: 45px auto;
  width: 30%;
  height: 255px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
  transform: translateY(-5px);
  padding: 37px;
  text-align: center;
}
.content:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
/* *****Project***** */
.pro{
  background: url("./image/acadamic.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 200px 60px 200px;
}
.project1{
    margin: 45px auto;
    width: 84%;
    height: 360px;
    border-radius: 11px;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
    transform: translateY(-5px);
    padding: 32px;
}
.project1:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.project2{
  margin: 45px auto;
  width: 84%;
  height: 420px;
  border-radius: 11px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
  transform: translateY(-5px);
  padding: 32px;
}
.project2:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.pro_img{
  border-radius: 5px solid black;
  background-image: url("./image/hos.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.pro_img1{
  background-image: url("./image/pla.webp");
  background-repeat: no-repeat;
  background-position: center;  
}
/* *****Certificate***** */
.certificate{
  display: flex;
  justify-content: center;
  width: 100%;
}
.cert_con{
  text-align: center;
  padding: 20px;
}
.cert_main{
  margin: 45px auto;
  width: 30%;
  height: 514px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
  transform: translateY(-5px);
  padding: 37px;
}
.cert_main:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
/* *****Technical***** */
.circle{
   margin: 45px auto;
  width: 15%;
  height: 145px;
  border-radius: 72px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
  transform: translateY(-5px)
}
.circle:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.circle i{
  display: flex;
  justify-content: center;
  padding: 25px;
}
.circle p{
  display: flex;
  justify-content: center;
}
.circle1{
  display: flex;
  justify-content: space-evenly;
} 
/* *****contact***** */
.contact{
  display: flex;
  flex-direction: column;
} 
.contact input{
  border: none;
}
.contact input:hover{
  border: none;
}   

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}