@keyframes example {
  50%   {color:rgba(0,255,255,0.7);}
  /* 25%  {color:yellow;}
  50%  {color:blue; }
  75%  {color:green;}
  100% {color:red;} */
}
.resume{
  color:black;
  font-family: 'Frank Ruhl Libre', serif;
  overflow-x: hidden;
}
.title{
  font-family: 'Castoro Titling', cursive;
  font-size: bold;
  text-align: center;
  padding: 50px 0;
  color: #408697;
}
/* *****Portfolio page***** */
.portfolio{
  background-image: url("./image/20513010.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 769px;
}
/* *****Navbar***** */
.nav-bar{
    background-color: grey;
} 
.nav-bar{
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-nav .nav-item .nav_link:hover{
  color: rgba(0,255,255,0.7);
}
.collapse {
  display: flex;
  justify-content: flex-end;
}
.logo{
   position: relative;
   animation-name: example;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}
/* *****Main page ***** */
.pad{
  justify-content: center;
  padding-top: 150px;
}
.page-main{
  width: 50%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
  transform: translateY(-5px);
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.page-main:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.page-con a{
  color: white;
  margin-right: 10px;
}
.page-but{
  padding: 20px;
}
.img{
  border-radius: 15px 50px;
  background-image: url("./image/logo1.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.page-con h3{
  font-family: 'Kalam', cursive;
  font-size: 50px;
}
.page-con h6{
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;

}
.sof{
  font-family: 'Amatic SC', cursive;
  font-size: xx-large;
}
.linkedin{
  color: #0077b5;
}
.twitter{
  color: #0077b5;
}
/* *****Academic Profile***** */
.aca_con{
  height: 500px;
  padding-top: 30px;
  background-color: #F6F6F6;
  color: #333333;
}
.main-con{
  justify-content: space-evenly;
}
.content{
  border-radius: 40px;
  box-shadow: 0px 5px 10px 0px #8D8C8A; 
  transform: translateY(-5px);
  padding: 15px;
  text-align: center;
}
.content:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px #8D8C8A;
}
/* *****Project***** */
.pro{
  padding-top: 30px;
  background: url("./image/20513010.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1170px;
  color: white;
}
.project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
    margin: 50px 200px 60px 200px;
}
.project1{
    height: 360px;
    border-radius: 11px;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
    transform: translateY(-5px);
    padding: 32px;
}
.project1:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.project2{
  height: 420px;
  border-radius: 11px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
  transform: translateY(-5px);
  padding: 32px;
}
.project2:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.pro_img{
  border-radius: 5px solid black;
  background-image: url("./image/hos.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.pro_img1{
  background-image: url("./image/pla.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;  
}
.para{
  font-size: large;
}
/* *****Certificate***** */
.certifi{
  background-color: #F6F6F6;
  height: 590px;
}
.certificate{
  display: flex;
  justify-content: space-evenly;
}
.cert_con{
  text-align: center;
  padding: 20px;
}
.cert_main{
  height: 360px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px #8D8C8A;
  transform: translateY(-5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cert_main:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px #8D8C8A;
}
.cert_main img{
  width: 300px;
}
/* *****Skills***** */
.skills{
  height: 400px;
}
.circle{
  width: 15%;
  border-radius: 72px;
  box-shadow: 0px 5px 10px 0px #8D8C8A;
  transform: translateY(-5px)
}
.circle:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px #8D8C8A;
}
.circle i{
  display: flex;
  justify-content: center;
  padding: 25px;
}
.circle p{
  display: flex;
  justify-content: center;
}
.circle1{
  display: flex;
  justify-content: space-evenly;
} 
.html{
  color: #FFA500;
}
.css{
  color: #0000FF;
}
.cpro{
  color: #2a9df4;
}
.java{
  color: #1167b1;
}
.sql{
  color: burlywood;
}
/* *****contact***** */
.con{
  background-image: url("./image/mapp.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.con1{
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.page-main1{
  width: 30%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
  transform: translateY(-5px);
  padding: 50px;
  display:flex;
  flex-direction: column;
  row-gap: 20px;
}
.page-main1 input{
  border: 1px solid white;
  background: none;
}
.page-main1 textarea{
  border: 1px solid white;
  background: none;
} 
.page-but1{
  display: flex;
  justify-content: center;
}
/* *****Footer***** */
.footer{
  border: 15px solid gray;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  html{
    overflow-x: hidden;
  }  
/* *****project*****   */
/* .pro{
  height: 1220px;
}
.project2 {
    height: 485px;
} */
/* *****contact***** */
.page-main1 {
  width: 45%;
}
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  html{
    overflow-x: hidden;
  }    
.portfolio{
  width: 1040px;
}
/* *****Main page*****  */
.page-main {
  width: 60%;
}
/* *****project***** */
.pro{
  height: 1570px;
}
.project1 {
  height: 490px;
} 
.project2 {
  height: 710px;
}   
/* *****Certificate***** */
.cert_main{
  width: 340px;
}
/* *****contact***** */
.page-main1 {
  width: 55%;
}
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px){
html{
  overflow-x: hidden;
}  
.nav-bar{
  width: 780px;
}  
.portfolio{
  width: 780px;
}
/* *****Main page*****   */
.page-main{
  width: 85%;
}
/* *****academic profile***** */
.aca_con{
  padding: 0%;
  font-size: 14px;
}
/* *****project***** */
.pro{
  height: 1385px;
}
.project{
  margin: 50px 60px 60px 60px;
}
.project1{
  height: 400px;
}
.para{
  font-size: 16px;
}
.project2{
  height: 580px;
}
/* *****Certificate***** */
.cert_main{
  width: 250px;
}
.cert_main img {
  width: 225px;
}
/* *****contact***** */
.page-main1 {
  width: 65%;
}

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px){
 html{
  overflow-x: hidden;
 } 
.portfolio{
  width: 480px;
  height: 735px;
}
.navbar{
  width: 480px;
}
/* *****Main page*****   */
.page-main{
  width: 85%;
  padding: 15px;
}
.page-con h3 {
  font-size: 40px;
}
.sof{
  font-size: 30px;
}
.img{
  height: 220px;
  margin-top: 113px;
}
/* *****academic profile***** */
.aca_con{
   width: 480px;
   height: 1020px;
   padding-top: 0px;
}
.main-con {
    row-gap: 35px;
    align-items: center;
}
.content{
  width: 65%;
}
/* *****project***** */
.pro{
  width: 480px;
  height: 1440px;
}
.para{
  font-size: 17px;
}
.project{
  margin: 0px;
  align-items: center;
}
.project1{
  padding: 0px;
  height: 455px;
  width: 85%;
}
.pro_con{
  width: 65%;
}
.pro_img{
  width: 138px;
}
.project2{
  padding: 0px;
  height: 660px;
  width: 85%;
}
.pro_img1{
  width: 138px;
}
/* *****Certificate***** */
.certifi{
  width: 480px;
  height: 830px;
}
.certificate{
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
}
.cert_main{
  width: 60%;
  height: 300px;
  padding: 0px;
}
.cert_main img{
  width: 225px;
}
/* *****Skills***** */
.skills{
  width: 480px;
  height: 920px;
}
.circle1{
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
}
.circle{
  width: 43%;
  height: 115px;
  border-radius: 45px;
}
/* *****contact***** */
.con{
  width: 480px;
  height: 635px;
}
.page-main1{
  width: 82%;
  height: 460px;
}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
html{
  overflow-x: hidden !important;
}
.title{
  padding: 35px 0;
}
/* *****Nav Bar***** */
 .nav-bar{
  width: 100%
 } 
  /* *****Main page*****  */
.page-main{
   width: 290px;
  padding: 20px 10px;
}
.img{
  height: 100px;
}
.page-con h3 {
  font-size: 30px;
}
.sof {
  font-size: 25px;
}
/* *****academic profile***** */
.aca_con{
  height: 910px;
  padding-top: 0px;
}
.main-con{
  display: flex;
  flex-direction: column;
  align-content: baseline;
  width: 640px;
  font-size: 11px;
  row-gap: 40px;
  margin-left: 80px;
}
/* *****project***** */
.pro{
  height: 1230px;
}
.project1{
  height: 392px;
  margin-left: -155px;
  margin-top: -30px;
  font-size: 11px;
  width: 240px;
  padding: 0px;
}
.pro_con{
  width: 200px;
}
.pro_con h3{
  margin-top: 20px;
  font-size: 15px;
}
.pro_con p{
  font-size: 13px;
}
.pro_img{
    height: 155px;
    width: 92px;
    margin-left: -52px;
}
.project2{
    height: 540px;
    margin-left: -155px;
    margin-top: -45px;
    font-size: 11px;
    width: 240px;
    padding: 0px; 
}
.pro_img1{
  height: 70px;
  width: 71px;
  margin-left: -31px;
}
/* *****Certificate***** */
.certifi{
  height: 820px;
}
.certificate {
      height: 720px;
  flex-direction: column;
  row-gap: 40px;
}
.cert_main{
  width: 70%;
  height: 260px;
  margin-left: 55px;
  padding: 0px;
}
.cert_main img{
  width: 235px;
}
/* *****Skills***** */
.skills{
  height: 950px;
}
.circle1{
  display: flex;
  flex-direction: column;
}
.circle{
    margin: 25px auto;
    width: 72%;
    height: 120px;
}
/* *****contact***** */
.con{
  height: 748px;
}
.page-main1{
  margin: 41px auto;
  width: 80%;
  height: 490px;
}
}